{% extends 'admin/dashboard/base.html.twig' %}
{% block title %} Admin | Agenda{% endblock %}
{% block css %}
{% endblock %}
{% block main %}
<style>
    .tb{
        color: royalblue;
    }
    .float-right{
        position: absolute;
        right: 2%;
        color: #33394c;
    }
    .float-right1{
        position: absolute;
        right: 2%;
        color: #2e3857;
    }
    #calendar{
        margin:0 2%;
        padding:0 2%;
    }
    .event-header{
        color:white;
    }

    {# checkbox style #}
    input[type="checkbox"].check {
        display: none;
    }
    input[type="checkbox"].check + label {
        box-sizing: border-box;
        display: inline-block;
        width: 3rem;
        height: 1.5rem;
        border-radius: 1.5rem;
        padding:2px;
        background-color: #c0ceda ;
        transition: all 0.5s ;
    }
    input[type="checkbox"].check + label::before {
        box-sizing: border-box;
        display: block;
        content: "";
        height: calc(1.5rem - 4px);
        width: calc(1.5rem - 4px);
        border-radius: 50%;
        background-color: #fff;
        transition: all 0.5s ;
    }
    input[type="checkbox"].check:checked + label {
        background-color: #00B7E8 ;
    }
    input[type="checkbox"].check:checked + label::before {
        margin-left: 1.5rem ;
    }
</style>
<!--------code------>
    {# empty Twig template #}
    <!-- Modal creation-->
    <div id="creer" class="modal fade" role="dialog">
        <div class="modal-dialog modal-xl">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h4 class="modal-title event-header"><i class="fas fa-calendar-plus"></i> Evénement</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ path('new_event') }}" method="post" class="validate">
                    <div class="modal-body">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2></h2>
                                <ul class="nav navbar-right panel_toolbox">

                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content" style="display: block;">

                                <div class="col-md-12 col-sm-12 col-xs-12">

                                    <div class="form-group">
                                        <div class="row">

                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                <label class="control-label" for="_filiere">Mention<span class="required">*</span>
                                                </label>
                                                <select id="_filiere"  name="_filiere" class="form-control">
                                                    <option class="text-center" value="">--- Choisir une filière ---</option>
                                                    {% for filiere in filieres %}
                                                        <option value="{{ filiere.id }}">{{ filiere.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                <label class="control-label" for="_niveau">Niveau<span class="required">*</span>
                                                </label>
                                                <select id="_niveau"  name="_niveau" class="form-control">
                                                    <option class="text-center" value="">--- Choisir niveau ---</option>
                                                    {% for cycle in niveau %}
                                                        <option  value="{{ cycle.id }}"> {{ cycle.code }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                <label class="control-label" for="_parcours">Parcours<span class="required">*</span>
                                                </label>
                                                <select id="_parcours"  name="_parcours" class="form-control">
                                                    <option class="text-center" value="">--- Choisir parcours ---</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                <label class="control-label" for="_semestre">Semestre<span class="required">*</span>
                                                </label>
                                                <select id="_semestre"  name="_semestre" class="form-control">
                                                    <option class="text-center" value="">--- Choisir semestre ---</option>
                                                    {% for item in semestres %}
                                                        <option  value="{{ item.id }}"> {{ item.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                <label class="control-label" for="_ec">Ec<span class="required">*</span>
                                                </label>
                                                <select name="_ec" id="_ec" class="form-control">
                                                    <option value="" class="text-center">--- Choisir Ec --- </option>
                                                    {% for item in matieres %}
                                                        <option value="{{ item.id }}">{{ item.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                <label class="control-label" for="_prof">Prof<span class="required">*</span>
                                                </label>
                                                <select name="_prof" id="_prof" class="form-control">
                                                    <option value="" class="text-center">--- Choisir Prof --- </option>
                                                    {% for item in profs %}
                                                        <option value="{{ item.id }}">{{ item.email }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">

                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <label class="control-label" for="titre">Titre<span class="required">*</span>
                                                </label>
                                                <input type="text" id="titre" name="titre"  class="form-control" required>
                                            </div>



                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <label class="control-label" for="description">Description<span class="required">*</span>
                                                </label>
                                                <div class="description" name="description">
                                                    {{ form_widget(form.description) }}
                                                    {{ form_errors(form.description) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">

                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                <label class="control-label" for="first-name">BackgroundColor<span class="required">*</span>
                                                </label>
                                                <input type="color" id="backgroundColor" name="backgroundColor" value="#436ae0" class="form-control">
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                <label class="control-label" for="first-name">BorderColor<span class="required">*</span>
                                                </label>
                                                <input type="color" id="borderColor" name="borderColor" value="#b043ea" class="form-control">
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                <label class="control-label" for="textColor">TextColor<span class="required">*</span>
                                                </label>
                                                <input type="color" id="txtColor" name="textColor" value="#e3eaeb" class="form-control">
                                            </div>

                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                <label class="control-label text-center" >Publier <span class="required"> *</span>
                                                </label>
                                                <div style="margin-left: 40%">
                                                    <input type="checkbox" id="_publie" name="_publie"  class="check">
                                                    <label for="_publie"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="start" class="start">
                                    <input type="hidden" name="end" class="end">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--endmodal-->
    <!-- Modal Suppression-->
    <div id="deleteModalCalendar" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form  action="{{ path('calendrier_delete') }}" method="get">
                    <div class="modal-header bg-danger">
                        <h4 class="modal-title event-header"><i class="fas fa-calendar-times"></i></h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="id" class="calendrier_id">
                        Voulez-vous supprimer cet événement ?
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-danger btn-supprimer">Supprimer</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="container-fluid">
        <h1 class="mt-4">Agenda</h1>
        <ol class="breadcrumb mb-4">
            <li><a href="{{ path('admin_dashboard') }}" class="tb">Tableau de bord /</a></li>
            <li class="breadcrumb-item active">Agenda / </li>
            <li><a href="{{ path('admin_agendas_list') }}" class="text-info"> Liste</a></li>
            <li class="float-right"><a onClick="imprimer('calendar-wrap')" href="{{ path('imprimer_pdf') }}" class="btn btn-primary"><span class="fas fa-print"></span>Imprimer</a></li>
            {# <li class="float-right1"><a href="#" data-toggle="modal" data-target="#ajout" class="btn btn-success"><span class="feather-edit"></span>Créer</a></li> #}
        </ol>
        {# {% for flash_message in app.flashes('success') %}
            <div class="alert alert-success" id="err_suc">
                <span class="fas fa-bell "></span> {{ flash_message }} !
            </div>
         {% endfor%}
         {% for flash_message in app.flashes('error') %}
            <div class="alert alert-danger" id="err_suc">
                <span class="fas fa-bell "></span> {{ flash_message }} !
            </div>
        {% endfor%} #}
        <div class="container-fluid">
            <div class="content-wrapper">
                <div class="row" id="wrap">
                    <div class="col-xl-12">
                        <div id='calendar-wrap' style="page-break-before:always">
                            <div id='calendar'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.setTimeout("document.getElementById('err_suc').style.display='none';", 7000);
    </script>
    <script>
        function imprimer(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                locale:'fr',
                timeZone: 'Afrique de l’Est',
                initialView: 'timeGridWeek',
                slotMinTime: '06:00',
                slotMaxTime: '19:00',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                },
                dayMaxEvents: true, // allow "more" link when too many events
                events:{{ data|raw }},
                height: 'auto',
                navLinks: true, // can click day/week names to navigate views
                selectable: true,
                selectMirror: true,
                nowIndicator: true,
                editable: true,
                eventResizableFromStart: true,
                droppable: true, // this allows things to be dropped onto the calendar
                select: function(arg) {
                    $('#creer').modal('toggle');
                    $('.start').val(arg.startStr);
                    $('.end').val(arg.endStr);
                    calendar.unselect()
                },
                eventClick: function(arg) {
                    /* if (confirm('Vous êtes sure que vous voulez supprimer cet matière ?')) {
                         arg.event.remove()
                     }*/
                    $('#deleteModalCalendar').modal('toggle');
                    $('.calendrier_id').val(arg.event.id);
                    $('.btn-supprimer').click(function () {
                        arg.event.remove();
                    });
                },
                drop: function(arg) {
                    // is the "remove after drop" checkbox checked?
                    if (document.getElementById('drop-remove').checked) {
                        // if so, remove the element from the "Draggable Events" list
                        arg.draggedEl.parentNode.removeChild(arg.draggedEl);
                    }
                }
            });
            calendar.on('eventChange',(e) => {
                let url = '/admin/agendas/api/'+e.event.id+'/edit';
                let donnees = {
                    "title": e.event.title,
                    "description": e.event.extendedProps.description,
                    "start": e.event.start,
                    "end": e.event.end,
                    "allDay": e.event.allDay,
                    "backgroundColor": e.event.backgroundColor,
                    "borderColor": e.event.borderColor,
                    "textColor": e.event.textColor
                }
                console.log(donnees);
                let xhr = new XMLHttpRequest();
                xhr.open("PUT",url);
                xhr.send(JSON.stringify(donnees));

            });
            calendar.render();

        });

    </script>
    <!-- Jquery JS-->
    <script src="{{ asset('inscription/vendor/jquery/jquery.min.js') }}"></script>
    <!-- Main JS-->
    <script type="text/javascript">

        jQuery(document).ready(function ($) {
            $("#_filiere").change(function (){
                var valfiliere = $(this).val();

                $("#_niveau").change(function(){
                    var valNiveau = $(this).val();
                    var data = "niveau=" + valNiveau +"&code="+valfiliere;

                    $.ajax({
                        type: "GET",
                        url: "{{ path('get-parc') }}",
                        data: data,
                        success: function(data){
                            $('#_parcours').empty();
                            if(data.parcours){
                                for(var i=0 ; i< data.parcours.length; i++){
                                    $('#_parcours').append('<option  value= "'+ data.parcours[i]['id'] +'">'+ data.parcours[i]['name'] +'</option>');
                                }
                            }

                        }
                    })

                })

            })

        });

    </script>
{% endblock %}
{% block javascript %}
{% endblock %}

