{% extends 'prof/dashboard/base.html.twig' %}
{% block title %} Mes agendas{% endblock %}
{% block css %}
{% endblock %}
{% block main %}
    <style>
        .tb{
            color: royalblue;
        }
        h4{
            color:white;
        }
        .mg-2{
            margin:8px 0;
        }
    </style>
    <div class="container-fluid">
        <h1 class="mt-4">Mes agendas</h1>
        <ol class="breadcrumb mb-4">
            <li><a href="{{ path('prof_dashbord') }}" class="tb">Tableau de bord /</a></li>
            <li class="breadcrumb-item active">Mes agendas / </li>
            <li><a href="{{ path('prof_mes_agenda_list') }}" class="text-primary">Liste /</a></li>
            <li>Editer un événement</li>
        </ol>
        <div class="container-fluid">

            <div class="card mb-4">
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-12 mg-2">
                            Titre
                            {{ form_widget(form.title) }}
                        </div>
                        <div class="col-md-12 mg-2">
                            Description
                            {{ form_widget(form.description) }}
                        </div>
                        <div class="col-md-6 mg-2">
                            Mention
                            <select id="_filiere"  name="_filiere" class="form-control">
                                <option class="text-center" value="">--- Choisir une filière ---</option>
                                {% for filiere in filieres %}
                                    {% if calendrier.mention and filiere == calendrier.mention.code  %}
                                        <option value="{{ filiere.id }}" selected>{{ filiere.name }}</option>
                                    {% else %}
                                        <option value="{{ filiere.id }}">{{ filiere.name }}</option>
                                    {% endif%}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6 mg-2">
                            Niveau
                            <select id="_niveau"  name="_niveau" class="form-control">
                                <option class="text-center" value="">--- Choisir niveau ---</option>
                                {% for cycle in niveau %}
                                    {% if calendrier.mention and cycle == calendrier.mention.cycle %}
                                        <option  value="{{ cycle.id }}" selected> {{ cycle.code }}</option>
                                    {% else %}
                                        <option  value="{{ cycle.id }}"> {{ cycle.code }}</option>
                                    {% endif%}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6 mg-2">
                            Parcours
                            <select id="_parcours"  name="_parcours" class="form-control">
                                {% if calendrier.mention %}
                                    <option value="{{ calendrier.mention.parcours.id }}" selected>{{ calendrier.mention.parcours.name }}</option>
                                {% else %}
                                    <option class="text-center" value=""></option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-md-6 mg-2">
                            Ec
                            {{ form_widget(form.ec) }}
                        </div>
                        <div class="col-md-6 mg-2">
                            Semestre
                            {{ form_widget(form.semestre) }}
                        </div>
                        <div class="col-md-6 mg-2">
                            BackgroundColor
                            {{ form_widget(form.backgroundColor) }}
                        </div>
                        <div class="col-md-6 mg-2">
                            BorderColor
                            {{ form_widget(form.borderColor) }}
                        </div>
                        <div class="col-md-6 mg-2">
                            TextColor
                            {{ form_widget(form.textColor) }}
                        </div>
                        <div class="col-md-12 mg-2">
                            <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <!-- Jquery JS-->
    <script src="{{ asset('inscription/vendor/jquery/jquery.min.js') }}"></script>
    <!-- Main JS-->
    <script type="text/javascript">

        jQuery(document).ready(function ($) {
            $("#_filiere").change(function (){
                var valfiliere = $(this).val();

                $("#_niveau").change(function(){
                    var valNiveau = $(this).val();
                    var data = "niveau=" + valNiveau +"&code="+valfiliere;

                    $.ajax({
                        type: "GET",
                        url: "{{ path('get-parc') }}",
                        data: data,
                        success: function(data){
                            $('#_parcours').empty();
                            if(data.parcours){
                                for(var i=0 ; i< data.parcours.length; i++){
                                    $('#_parcours').append('<option  value= "'+ data.parcours[i]['id'] +'">'+ data.parcours[i]['name'] +'</option>');
                                }
                            }

                        }
                    })

                })

            })

        });

    </script>
{% endblock %}
{% block javascript %}
{% endblock %}

