<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="ALLO CHEF ">
        <meta name="author" content="ALLO CHEF">
        <title>{% block title %}Bievenue!{% endblock %}</title>
        <!-- Favicon Icon -->
        <link rel="icon" type="image/png" href="img/favicon.png">
        <!-- Bootstrap core CSS-->
        <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

        <link href="{{ asset('vendor/icons/feather.css') }}" rel="stylesheet" type="text/css">
        <!-- Fontawesome Icon-->
        <link href="{{ asset('vendor/fontawesome/css/fontawesome.min.css') }}" rel="stylesheet" type="text/css">
        <!-- Custom Css -->
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />
        <!-- Dropzone -->
        {# <link href="{{ asset('vendor/dropzone/dist/dropzone.css') }}" rel="stylesheet"> #}
        <!-- Date Picker -->
        <link href="http://www.ansonika.com/foogra/admin_section/css/date_picker.css" rel="stylesheet">
        <!-- Summernote Editor -->
        <link href="{{ asset('vendor/summernote/summernote-bs4.min.css') }}" rel="stylesheet">
        <!-- Datatables css -->
        <link href="{{ asset('vendor/dataTables/dataTables/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
        <link href="{{ asset('vendor/tel/css/intlTelInput.css') }}" rel="stylesheet">
        <link href="{{ asset('vendor/dropzone/dist/min/dropzone.min.css')}}" rel="stylesheet">

        {% block stylesheets %}{% endblock %}
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-light bg-white shadow-sm">
            <a class="navbar-brand" href="{{ path('admin_admin_index') }}">
                <img alt="logo" src="{{ asset('img/logo.png') }}" class="img-fluid" style="height: 62px;">
            </a>
            <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
                <i class="fas fa-bars"></i>
            </button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2"/>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="feather-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ml-auto ml-md-0">
                <li class="nav-item dropdown no-arrow d-sm-none">
                    <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="feather-search mr-2"></i>
                    </a>
                    <!-- Dropdown - Messages -->
                    <div class="dropdown-menu dropdown-menu-right p-3 shadow-sm animated--grow-in" aria-labelledby="searchDropdown">
                        <form class="form-inline mr-auto w-100 navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control border-0 shadow-none" placeholder="Search people, jobs and more..." aria-label="Search" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn" type="button">
                                        <i class="feather-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
                <li class="nav-item dropdown no-arrow mx-1 osahan-list-dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="feather-message-square"></i>
                        <!-- Counter - Alerts -->
                        <span class="badge badge-danger badge-counter">8</span>
                    </a>
                    <!-- Dropdown - Alerts -->
                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow-sm">
                        <h6 class="dropdown-header">
                            Message Center
                        </h6>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="dropdown-list-image mr-3">
                                <img class="rounded-circle" src="img/user/2.png" alt="">
                                <div class="status-indicator bg-success"></div>
                            </div>
                            <div class="font-weight-bold overflow-hidden">
                                <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been having.</div>
                                <div class="small text-gray-500">Emily Fowler · 58m</div>
                            </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="dropdown-list-image mr-3">
                                <img class="rounded-circle" src="img/user/3.png" alt="">
                                <div class="status-indicator"></div>
                            </div>
                            <div class="overflow-hidden">
                                <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
                                <div class="small text-gray-500">Jae Chun · 1d</div>
                            </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="dropdown-list-image mr-3">
                                <img class="rounded-circle" src="img/user/4.png" alt="">
                                <div class="status-indicator bg-warning"></div>
                            </div>
                            <div class="overflow-hidden">
                                <div class="text-truncate">!</div>
                                <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                            </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="dropdown-list-image mr-3">
                                <img class="rounded-circle" src="img/user/5.png" alt="">
                                <div class="status-indicator bg-success"></div>
                            </div>
                            <div class="overflow-hidden">
                                <div class="text-truncate"></div>
                                <div class="small text-gray-500">Chicken the Dog · 2w</div>
                            </div>
                        </a>
                        <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                    </div>
                </li>
                <li class="nav-item dropdown no-arrow mx-1 osahan-list-dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="feather-bell"></i>
                        <!-- Counter - Alerts -->
                        <span class="badge badge-info badge-counter">6</span>
                    </a>
                    <!-- Dropdown - Alerts -->
                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow-sm">
                        <h6 class="dropdown-header">
                            Alerts Center
                        </h6>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-primary">
                                    <i class="fas fa-download text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">December 12, 2020</div>
                                <span class="font-weight-bold">A new monthly report is ready to download!</span>
                            </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-success">
                                    <i class="fas fa-edit text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">December 7, 2020</div>
                                $290.29 has been deposited into your account!
                            </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-warning">
                                    <i class="fas fa-folder text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">December 2, 2020</div>
                                Spending Alert: We've noticed unusually high spending for your account.
                            </div>
                        </a>
                        <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                    </div>
                </li>
                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow ml-1 osahan-profile-dropdown">
                    <a class="nav-link dropdown-toggle pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="img-profile rounded-circle" src="{{ asset('img/avatars/'~app.user.avatar )}}">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow-sm">
                        <div class="p-3 d-flex align-items-center">
                            <div class="dropdown-list-image mr-3">
                                <img class="rounded-circle" src="{{ asset('img/avatars/'~app.user.avatar )}}" alt="">
                                <div class="status-indicator bg-success"></div>
                            </div>
                            <div class="font-weight-bold">
                                <div class="text-truncate">{{ app.user.name }}</div>
                                <div class="small text-gray-500">Restaurants Owner</div>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('admin_profile') }}">
                            <i class="feather-edit"></i>
                            My Account</a>
                        <a class="dropdown-item" href="my-profile.html">
                            <i class="feather-settings"></i>
                            Account Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('admin_logout') }}">
                            <i class="feather-log-out"></i>
                            Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        {{ include('admin/side-bar.html.twig') }}
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    {% block body %}
                    {% endblock %}
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Ecole Privée Polytechnique de Sousse</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <!-- modal confirmation suppression -->
        <div class="bd-example">
            <div class="modal fade" id="suppression" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: rgb(255, 65, 75);">
                            <h4 class="modal-title">Confirmation avant suppression</h4>
                            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form id="suppression_form" method="POST">
                            <div class="modal-body">
                                <h4 id="titre_modal_suppression"></h4>
                                <input type="hidden" name="suppressionselected" id="suppressionselected">
                            </div>
                            <div class="modal-footer">
                                <div class="col-lg-6 col-md-6 col-xs-6">
                                    <input type="submit" class="form-control btn btn-danger" value="Supprimer" >
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-6">
                                    <button type="button" class="form-control btn btn-default" style="background-color: #cccccc" data-dismiss="modal">Annuler</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Jquery -->
        <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
        <!-- Fontawesome -->
        <script src="{{ asset('vendor/fontawesome/js/all.min.js') }}"></script>
        <!-- Bootstrap -->
        <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <!-- Custom Js -->
        <script src="{{ asset('js/scripts.js') }}"></script>
        <!-- Ajax Chart Js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <!-- Datatable Js -->
        <script src="{{ asset('vendor/dataTables/dataTables/js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('vendor/dataTables/dataTables/js/dataTables.bootstrap.min.js') }}"></script>
        <!-- Dropzone-->
        <script src="{{ asset('vendor/dropzone/dist/min/dropzone.min.js') }}"></script>
        <script src="http://www.ansonika.com/foogra/admin_section/vendor/bootstrap-datepicker.js"></script>
        <!-- intlTelInput -->
        <script src="{{ asset('vendor/tel/js/intlTelInput.js') }}"></script>
        <script src="{{ asset('vendor/tel/js/intlTelInput-jquery.js')}}"></script>
        {# <script src="{{ asset('vendor/dropzone/min/dropzone.min.js')}}"></script> #}
        <script>

            // Call the dataTables jQuery plugin
            $(document).ready(function() {
                $('#dataTable').DataTable();
                 $('input.date-pick').datepicker();
            });
        </script>
         {% block javascripts %}{% endblock %}
    </body>
</html>
