{% extends 'base.html.twig' %}

{% block title %}Inscrire index{% endblock %}

{% block body %}
    <h1>Inscrire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Motif</th>
                <th>Ville</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inscrire in inscrires %}
            <tr>
                <td>{{ inscrire.id }}</td>
                <td>{{ inscrire.motif }}</td>
                <td>{{ inscrire.ville }}</td>
                <td>
                    <a href="{{ path('inscrire_show', {'id': inscrire.id}) }}">show</a>
                    <a href="{{ path('inscrire_edit', {'id': inscrire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('inscrire_new') }}">Create new</a>
{% endblock %}
