{% extends 'prof/base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block content %}
   <style>
        .errors ul li {
            color: red;
            list-style: none;
            margin-left: -37px;
        }
        .errors.form-label-group>input{
            border-bottom: 1px solid red !important;
            box-shadow: none !important;
         }
    </style>
    <div class="container-fluid">
         <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 col-md-6 osahan-login-left px-0"></div>
            <div class="col-md-8 col-lg-6 justify-content-center flex-column px-0">
               <div class="login d-flex align-items-center py-5">
                  <div class="container">
                     <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto pl-5 pr-5">
                           <h3 class="login-heading mb-4">Réinitialisez votre mot de passe!</h3>
                           {{ form_start(form) }}
                              <div class="form-label-group {% if not form.email.vars.valid %}errors{% endif %} ">
                                 
                                 {{ form_widget(form.email) }}
                                 {{ form_errors(form.email) }}
                                 {{ form_label(form.email) }}
                                 
                              </div>
                              <button type="submit" class="btn btn-lg btn-outline-primary btn-block btn-login text-uppercase font-weight-bold mb-2">{{ button_label|default('Envoyer') }}</button>
                              <div class="text-center pt-3">
                                  Vous avez déjà un compte?<a class="font-weight-bold" href="{{ path('prof_login') }}"> Se connecte</a>
                              </div>
                            {{ form_end(form) }}
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
{% endblock %}
