{% extends 'base.html.twig' %}

{% block title %}Ue index{% endblock %}

{% block body %}
    <h1>Ue index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ue in ues %}
            <tr>
                <td>{{ ue.id }}</td>
                <td>{{ ue.name }}</td>
                <td>
                    <a href="{{ path('ue_show', {'id': ue.id}) }}">show</a>
                    <a href="{{ path('ue_edit', {'id': ue.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ue_new') }}">Create new</a>
{% endblock %}
