<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Askbootstrap" />
    <meta name="author" content="Askbootstrap" />
    <title>{% block title %} Admin | Tableau de Bord{% endblock %}</title>
    //icon
    <link rel="icon" type="image/png" href="{{ asset('images/polytechniqueSousse.ico') }}">
   // css + awesome icons 
    <link href="{{ asset('espace/vendor/icons/feather.css') }}" rel="stylesheet" type="text/css">

    <link href="{{ asset('espace/vendor/fontawesome/css/fontawesome.min.css') }}" rel="stylesheet" type="text/css">
   
    <link href="{{ asset('espace/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom Css -->
    <link href="{{ asset('espace/css/styles.css') }}" rel="stylesheet" />
    <!-- Datatables css -->
    <link href="{{ asset('espace/vendor/dataTables/dataTables/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
   
   
    <!--inscription formulaire-->
    
    <!-- Icons font CSS-->
    <link href="{{ asset('inscription/vendor/mdi-font/css/material-design-iconic-font.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('inscription/vendor/font-awesome-4.7/css/font-awesome.min.css') }}" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	
	<link rel="stylesheet" href="{{ asset('calendrier/css/style.css') }}">
	<link rel="stylesheet" href="{{ asset('calendrier/css/bootstrap-datetimepicker.min.css') }}">

    <!-- Main CSS-->

    <!-- fullcalendar CSS-->
    <link href='{{ asset('vendor/calendrier/lib/main.css') }}' rel='stylesheet' />
    

    <link href="{{ asset('vendor/tel/css/intlTelInput.css') }}" rel="stylesheet">

    {% block css %}

    {% endblock %}
</head>
<body class="sb-nav-fixed">
<style>
    .sb-sidenav-menu-heading{
        margin-bottom:-5px;
        margin-top: 10px;
    }
    .sb-txt{
        color: #dcd9d9;
        text-transform: capitalize;
        font-size:15px;
    }
    .hr{
        width:100%;
        height:1px;
        background-color: #c3c2c2;
        margin-bottom:8px;
    }
    .sb-sidenav-menu>.nav>.nav-link{
        color: white;
    }
    .sb-sidenav-menu>.nav>.nav-link:hover .sb-nav-link-icon{
        background-color: #ffffff;
        color: #1f6e77;
    }
</style>
<nav class="sb-topnav navbar navbar-expand navbar-light bg-white shadow-sm">
    <a class="navbar-brand" href="#"><img alt="logo" src="{{ asset('images/avatars/logo-poly.png') }}" width="183px"></a>
    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <span class="ml-auto"></span>
    <!-- Navbar-->
    <ul class="navbar-nav ml-auto ml-md-0">
        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow ml-1 osahan-profile-dropdown">
            <a class="nav-link dropdown-toggle pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="img-profile rounded-circle" src="{{ asset('images/avatars/'~app.user.avatar )}}" alt="...">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow-sm">
                <div class="p-3 d-flex align-items-center">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" width="40px" src="{{ asset('images/avatars/'~app.user.avatar )}}" alt="...">
                        <div class="status-indicator bg-success"></div>
                    </div>
                    <div class="font-weight-bold">
                        <div class="text-truncate">{{app.user.name}}</div>
                        <div class="small text-gray-500">Admin</div>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('admin_profile') }}"><i class="feather-edit"></i> Mon Profil</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('admin_logout') }}"><i class="feather-log-out"></i>Deconnéxion</a>
            </div>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        {#sb-sidenav-dark #}
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">
                        <p class="sb-txt"><img class="mb-3 rounded-pill shadow-sm mt-1" width="40px" src="{{ asset('images/avatars/'~app.user.avatar )}}"  alt="admin"><span> </span>{{ app.user.name }}</p>
                    </div>
                    <div class="hr"></div>
                    <a class="nav-link btn" href="{{ path('admin_dashboard') }}">
                        <div class="sb-nav-link-icon"><i class="feather-home"></i></div>
                        Tableau de bord
                    </a>
                    <a class="nav-link btn" href="{{ path('admin_profile') }}">
                        <div class="sb-nav-link-icon"><i class="feather-user"></i></div>
                        Mon Profil
                    </a>
                    <a class="nav-link btn" href="{{ path('parametre') }}">
                        <div class="sb-nav-link-icon"><i class="feather-settings"></i></div>
                        Paramètre
                    </a>
                    <a class="nav-link btn" href="{{ path('index_admin_gestion_cours') }}">
                        <div class="sb-nav-link-icon"><i class="feather-briefcase"></i></div>
                        Cours
                    </a>

                    <a class="nav-link btn" href="{{ path('admin_inscrire_index') }}">
                        <div class="sb-nav-link-icon"><i class="feather-edit-3"></i></div>
                        Inscription
                    </a>
                    <a class="nav-link btn" href="{{ path('admin_agendas') }}">
                        <div class="sb-nav-link-icon"><i class="feather-calendar "></i></div>
                        Agenda
                    </a>
                    <a class="nav-link btn" href="{{ path('admin_bibliotheque_index') }}">
                        <div class="sb-nav-link-icon"><i class=" feather-book-open "></i></div>
                        Bibliothèque
                    </a>

                    {#<a class="nav-link btn" href="#">
                        <div class="sb-nav-link-icon"><i class="feather-edit"></i></div>
                        Note
                    </a>#}
                    <a class="nav-link btn" href="{{ path('admin_admin_index') }}">
                        <div class="sb-nav-link-icon"><i class="feather-package "></i></div>
                        ADMIN
                    </a>
                    <a class="nav-link btn" href="{{ path('admin_prof_index') }}">
                        <div class="sb-nav-link-icon"><i class="feather-users"></i></div>
                        PROF
                    </a>
                    <a class="nav-link btn" href="{{ path('admin_logout') }}">
                        <div class="sb-nav-link-icon"><i class="feather-log-out"></i></div>
                        Déconnexion
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            {% block main %}

            {% endblock %}
        </main>

        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Ecole Privée Polytechnique de Sousse</div>
                    <div>
                        <a href="#">Polytechnique Sousse ♥  </a>
                        &middot;
                        <a href="#">Meryem &amp; Nour </a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<!-- Jquery -->
<script src="{{ asset('espace/vendor/jquery/jquery.min.js') }}"></script>
<!-- Fontawesome -->
<script src="{{ asset('espace/vendor/fontawesome/js/all.min.js') }}"></script>
<!-- Bootstrap -->
<script src="{{ asset('espace/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- Custom Js -->
<script src="{{ asset('espace/js/scripts.js') }}"></script>
<!-- Ajax Chart Js -->
<!-- fullcalendar js-->
<script src="{{ asset('vendor/calendrier/lib/main.js') }}"></script>
<script src="{{ asset('vendor/calendrier/lib/locales/fr.js') }}"></script>
<!-- Chart Js -->
<!-- Datatable Js -->
<script src="{{ asset('espace/vendor/dataTables/dataTables/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('espace/vendor/dataTables/dataTables/js/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ asset('espace/assets/demo/datatables-demo.js') }}"></script>
<!-- intlTelInput -->
<script src="{{ asset('vendor/tel/js/intlTelInput.js') }}"></script>
<script src="{{ asset('vendor/tel/js/intlTelInput-jquery.js') }}"></script>
<script src="{{ asset('vendor/dropzone/min/dropzone.min.js') }}"></script>
{% block javascript %}
{% endblock %}
</body>
</html>