{% extends 'base.html.twig' %}

{% block title %}Years index{% endblock %}

{% block body %}
    <h1>Years index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Current</th>
                <th>Year</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for year in years %}
            <tr>
                <td>{{ year.id }}</td>
                <td>{{ year.current ? 'Yes' : 'No' }}</td>
                <td>{{ year.year ? year.year}}</td>
                <td>
                    <a href="{{ path('years_show', {'id': year.id}) }}">show</a>
                    <a href="{{ path('years_edit', {'id': year.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('years_new') }}">Create new</a>
{% endblock %}
